* {
    margin: 0;
    padding: 0;
}

section {
    letter-spacing: 2px;
    padding: 10px;
    font-size: 1.2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav#navbar {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    padding: 20px;
    background-color: #333; /* Dark background for navbar */
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav#navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#nav-items li a:hover {
    background-color: greenyellow;
    color: black;
}

#nav-items li {
    list-style: none;
    padding: 5px;
}

#nav-items a {
    text-decoration: none;
    color: #fff;
}

/* Colors based on scroll */
#navbar.homeSection {
    background-color: #444; /* Dark color for home section */
}
#navbar.aboutSection {
    background-color: #555; /* Dark color for about section */
}
#navbar.skillsSection {
    background-color: #666; /* Dark color for skills section */
}
#navbar.contactSection {
    background-color: #777; /* Dark color for contact section */
}

/* Lighter background colors for sections */
#home {
    background-color: #D1E9F6; /* Light color for home section */
}
#about {
    background-color: #F6EACB; /* Light color for about section */
}
#skills {
    background-color: #F1D3CE; /* Light color for skills section */
}
#contact {
    background-color: #FFC6C6; /* Light color for contact section */
}

#boxes {
    display: flex;
    justify-content: space-around;
}

/* New box styles */
.box {
    height: 120px; /* Adjusted height */
    width: 120px; /* Adjusted width */
    border: 4px solid black;
    margin: 20px; /* Increased margin */
    border-radius: 50%; /* Changed to circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #f9f9f9; /* Light background for boxes */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Added shadow */
}

.box i {
    font-size: 2rem;
    margin-top: 2px;
}

#contact ul {
    padding: 10px;
    list-style: none;
}

#contact a {
    text-decoration: none;
    color: black;
}
